<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-aim">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Aim</h1>
    <br>
  <p>Our aim is to create a travel mobile app which has all sorts of features ranging from trip planning, budget planning, geolocation and other basic travel app features. Initially, only a few features will be implemented for ease of design and management, such as a travel planner, a purchasing power budget feature, and geolocation. The app's main attraction is its purchasing power budget feature, which will generate a list of trips based on the budget input.
</p>
<p>To visualise our future plan and progress, it is important to set goals and achieve them respectively for a successful software development process. Our goals are as below (based on priority):</p>
<br>
<ol>
  <h4><li>Create a functioning prototype</li></strong></h4>
  <br>
  <p>Prototyping is an experimental process where design teams implement ideas into tangible forms from paper to digital. Teams build prototypes of varying degrees of fidelity to capture design concepts and test on users. With prototypes, you can refine and validate your designs so your brand can release the right products. It also provides other benefits such as giving a solid foundation from which to ideate towards improvements, getting insights into less-obvious areas of the users’ world, etc. This is the first approach of our project and we planned to complete it in two weeks time.
</p>
<br>
<br>
   <h4><li>Software architecture planning</li></strong></h4>
    <br>
    <p>Software architecture planning is a process that aims to improve software development process predictability and includes tools and technologies, budget estimation, framework ideation, testing process, and often research and development into the areas that are unknown or risks to the project. All of the contents will be documented in the report’s project description section which serve as a guide for future implementation. This is the minimum milestone set before the assignment due date.
  </p>
  <br>
  <br>
  <h4><li>Implementation of application features</li></strong></h4>
  <br>
  <p>This is where we actually put our hands on to develop the final product. It is a process that requires heavy codings and can only be achieved through long hours of learning and practice. It is impracticable to learn how to code and develop an app from scratch given the amount of time. Therefore, we aim to try our best to achieve as much progress as we can before the due date.
</p>
<br>
<br>
<h4><li>Software testing</li></strong></h4>
<br>
<p>Testing is the process consisting of all life cycle activities, both static and dynamic, concerned with planning, preparation and evaluation of software products and related work products to determine that they satisfy specified requirements, to demonstrate that they are fit for purpose and to detect defects. It will only be carried out after each development phase as we need to at least have ‘something’ to be tested. Therefore, we all agree that it has the least priority at the moment.
</p>
</ol>
</div>
<a class="button is-small is-info is-outlined" href="description.html">
    Back
</a>


</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
