<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-career-plans">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Career Plans</h1>
    <br>
    <div class="table-container">
    <table class="table is-bordered is-striped ">
  <tbody>
    <tr>
      <th>Name</th>
      <td>Anson</td>
    </tr>
    <tr>
      <th>Interested field</th>
      <td>User-centered design and software engineering</td>
    </tr>
    <tr>
      <th>Education</th>
      <td>Third year undergraduate of Bachelor’s Degree of Computer Science</td>
    </tr>
    <tr>
      <th>Employment history </th>
      <td>None</td>
    </tr>
    <tr>
      <th>Ideal job</th>
      <td>IT Software engineering manager</td>
    </tr>
    <tr>
      <th>Current skills, qualifications, experience </th>
      <td>
        <ul>
          <li>Third-year undergraduate of Bachelor’s Degree in Computer Science </li>
          <li>IT specific skills: C/C++, Java, SQL, C#, Git, Rest API, Python</li>
          <li>General skills: Communication, problem solving, teamwork</li>
          <br>
       </ul>
    </td>
    </tr>
    <tr>
      <th>Skills, qualifications, experience qualification</th>
      <td>
        <ul>
          <li>Bachelor’s Degree in Computer Science or a related field</li>
          <li>At least 3 years of working experience in an engineering leadership position on a team shipping large PAGE 6 large-scale, modular desktop applications</li>
          <li>At least 6 years of software engineering experience</li>
          <li>IT specific skills: C/C++, Java, SQL, C#, Git, Rest API</li>
          <li>General skills: Leadership, Communication, problem solving, creative thinking</li>
          <br>
       </ul>
      </td>
    </tr>
    <tr>
      <th>Action plan</th>
      <td>
        <ol>
          <li>Take on online programming course on those programming languages which I have not learned</li>
          <li>Start as an software engineer in small agencies in order to sharpen my skills and enrich my experience</li>
          <br>
       </ol>
      </td>
    </tr>
  </tbody>
</table>
<br><br>
<table class="table is-bordered is-striped ">
<tbody>
<tr>
  <th>Name</th>
  <td>Dat</td>
</tr>
<tr>
  <th>Interested field</th>
  <td>Business Management</td>
</tr>
<tr>
  <th>Education</th>
  <td>Third year Bachelor of International Business</td>
</tr>
<tr>
  <th>Employment history </th>
  <td>None</td>
</tr>
<tr>
  <th>Ideal job</th>
  <td>Business Development Manager, the Senior Financial Manager, and the Management Accountant and also Hospitality</td>
</tr>
<tr>
  <th>Current skills, qualifications, experience </th>
  <td>Analysis and will have the certificate of Bachelor of International Business this year</td>
</tr>
<tr>
  <th>Skills, qualifications, experience qualification</th>
  <td>Analyzing economic strategies, assessing the direction of development of a business or a company's currency. Having experience related to office computers, and understanding many foreign languages such as English, French, ...</td>
</tr>
<tr>
  <th>Action plan</th>
  <td>I will try to find an internship to have more experiences and find a university to study another degree related to Information technology to explore more knowledge about computers in the office.</td>
</tr>
</tbody>
</table>

<br><br>
<table class="table is-bordered is-striped ">
<tbody>
<tr>
  <th>Name</th>
  <td>Mitch</td>
</tr>
<tr>
  <th>Interested field</th>
  <td>Software Development</td>
</tr>
<tr>
  <th>Education</th>
  <td>First Year Bachelor of IT</td>
</tr>
<tr>
  <th>Employment history </th>
  <td>None</td>
</tr>
<tr>
  <th>Ideal job</th>
  <td>Software Developer</td>
</tr>
<tr>
  <th>Current skills, qualifications, experience </th>
  <td>
    <ul>
      <li>Basic computer skills</li>
      <li>General skills: Communication, problem solving, teamwork</li>
      <br>
   </ul>
</td>
</tr>
<tr>
  <th>Skills, qualifications, experience qualification</th>
  <td>
    <ul>
      <li>Bachelor’s Degree of Information Technology</li>
      <li>IT specific skills: C/C++, Java, SQL, C#, Git, Rest API</li>
      <li>General skills: Leadership, Communication, problem solving, creative thinking</li>
      <br>
   </ul>
  </td>
</tr>
<tr>
  <th>Action plan</th>
  <td>
    <ol>
      <li>Finish my Bachelors</li>
      <li>Develop coding skills</li>
      <br>
   </ol>
  </td>
</tr>
</tbody>
</table>

<br><br>
<table class="table is-bordered is-striped ">
<tbody>
<tr>
  <th>Name</th>
  <td>Vincent</td>
</tr>
<tr>
  <th>Networking and software development</th>
  <td>User-centered design and software engineering</td>
</tr>
<tr>
  <th>Education</th>
  <td>First Year Bachelor of Information Technology</td>
</tr>
<tr>
  <th>Employment history </th>
  <td>None</td>
</tr>
<tr>
  <th>Ideal job</th>
  <td>Software development for a government agency</td>
</tr>
<tr>
  <th>Current skills, qualifications, experience </th>
  <td>None</td>
</tr>
<tr>
  <th>Skills, qualifications, experience qualification</th>
  <td>
    <ul>
      <li>IT Specific: High-level programming languages , Linux , mathematics , SQL , git , docker , kubernetes</li>
      <li>General: Critical thinking, problem solving, communication , time management , creativity</li>
      <br>
   </ul>
  </td>
</tr>
<tr>
  <th>Action plan</th>
  <td>
    <ol>
      <li>Finish bachelors</li>
      <li>Find entry level job to gain experience</li>
      <li>Learn some maths on my own such as discrete mathematics</li>
      <li>Do comp sc</li>
      <br>
   </ol>
  </td>
</tr>
</tbody>
</table>

<br><br>
<table class="table is-bordered is-striped ">
<tbody>
<tr>
  <th>Name</th>
  <td>Jake</td>
</tr>
<tr>
  <th>Interested field</th>
  <td>Cybersecurity</td>
</tr>
<tr>
  <th>Education</th>
  <td>First Year Bachelor of Information Technology</td>
</tr>
<tr>
  <th>Employment history </th>
  <td>None</td>
</tr>
<tr>
  <th>Ideal job</th>
  <td>Security Specialist at Boeing</td>
</tr>
<tr>
  <th>Current skills, qualifications, experience </th>
  <td>
    <ul>
      <li>Second Year Electrical and aerospace engineer</li>
      <li>Second Year Bachelor of Justice</li>
      <li>First Year Bachelor of IT</li>
      <li>Cert 3 in Civil Construction</li>
      <br>
   </ul>
</td>
</tr>
<tr>
  <th>Skills, qualifications, experience qualification</th>
  <td>
    <ul>
      <li>IT Specific: Computer security, data science, incident response, SQL</li>
      <li>General: Troubleshooting, critical thinking, problem solving, communication</li>
      <br>
   </ul>
  </td>
</tr>
<tr>
  <th>Action plan</th>
  <td>
    <ol>
      <li>Continue and finish bachelors</li>
      <li>Take on masters in Cyber Security</li>
      <li>Achieve an internship at Jb Hi-Fi in the next 12 months to get some work in the industry</li>
      <br>
   </ol>
  </td>
</tr>
</tbody>
</table>
</div>
<br>
<h2>Compare and Contrast</h2>
<br>
<p>The subsequent section will cover more analytics and data on our career plan however it is beneficial to compare with a grounded perspective. By titles alone there is a wide array of jobs covered amongst the team. Interestly, not all are within the IT industry itself; highlighting Dat’s management accounting dream. It's not uncommon to see crossovers with other industries in the IT sector. As Jon Lang, CEO of DDLS points out ‘the simple fact is, there are nowhere near enough skilled professionals coming out of universities to fulfill all the IT roles needed in Australian organisations.’ As a result, it’s highly favoured and common to see other industries pursuing basic IT knowledge and skill to be able to relieve the demand on the IT sector.</p>
<p>Being on a similar education level actually makes all of us come closer to each other by sharing similar skills, knowledge and even personal views. It is totally reasonable that we all do not have any job experience in our interest field given our given education level. On top of that, the top priority of all of us is to complete our bachelor degree before being employed in related industries. All team members plan to find jobs of entry level before approaching their relative ideal jobs realizing their lack of experience and real-time skills in those positions. It is definitely beneficial for us to actually plan our career, most importantly execute them to visualise our goals and pursue them.</p>
</div>

<a class="button is-small is-info is-outlined" href="profile.html">
    Back
</a>

</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
