<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css" />
    <link rel="stylesheet" type="text/css" href="../css/selection.css">
  </head>
  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../index.html">
            <img src="../images/logo.jpg" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
          </span>
        </div>
        <div class="brand-name">
          <a href="../index.html" class="logo">Vibing</a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="../index.html">
              Home
            </a>
            <a class="navbar-item" href="profile.html">
              Profile
            </a>
            <a class="navbar-item" href="tools.html">
              Tools
            </a>
            <a class="navbar-item" href="project.html">
              Project
            </a>
            <a class="navbar-item" href="job.html">
              Job
            </a>
            <a class="navbar-item" href="reflection.html">
              Reflection
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
      <div class="hero-body-description">
        <div class="container has-text-centered">
          <h1 class="header-title">Detailed Description</h1>
        </div>
      </div>
    </section>
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/aim.png" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Aims</h1>
                  <p class="post-excerpt">Our aim is to create a travel mobile app which has all sorts of features ranging from trip planning, budget planning, geolocation and other basic travel app features.</p>
                  <br>
                  <a href="aim.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/progress.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Plans and Progress</h1>
                  <p class="post-excerpt">This section includes detail about what our project will do, and how we will do it. It also include how far we have got with developing any features or outcomes from our project.</p>
                  <br>
                  <a href="plan.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/roles.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Roles</h1>
                  <p class="post-excerpt">Specifying roles is crucial for an effective and successful software development cycle. Every team member within an IT project should have a specific, crucial role to play in order to give the best performance possible.</p>
                  <br>
                  <a href="roles.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/scope.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Scope and Limits</h1>
                  <p class="post-excerpt">Due to our group's lack of application development knowledge, we decided to display the features of our project using a prototype designer (Proto.io), which allows us to display our project as an interactive template. </p>
                  <br>
                  <a href="scope.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/tools.jpeg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Tools and Technologies</h1>
                  <p class="post-excerpt">This section includes brief description of software or other tools are required by our project</p>
                  <br>
                  <a href="tech.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/testing.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Testing</h1>
                  <p class="post-excerpt">Testing is the process consisting of all life cycle activities, both static and dynamic, concerned with planning, preparation and evaluation of software products and related work products to determine that they satisfy specified requirements, to demonstrate that they are fit for purpose and to detect defects.</p>
                  <br>
                  <a href="testing.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/timeframe.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Timeframe</h1>
                  <p class="post-excerpt">This section represents our plan for further work beyond the end of this course.</p>
                  <br>
                  <a href="timeframe.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/risk.jpeg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Risks</h1>
                  <p class="post-excerpt">App development isn't the most advantageous or intense sport but it definitely has risks involved. The scope of these risks are diverse and cover anything from software to marketing.</p>
                  <br>
                  <a href="risk.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/communication.png" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Group processes and communications</h1>
                  <p class="post-excerpt">Communication is an essential part of helping my team move forward with planned steps, and it's easy when everyone on the team knows what they're doing. </p>
                  <br>
                  <a href="communication.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
          </div>
          <a class="button is-small is-info is-outlined" href="project.html">
              Back
          </a>
        </div>

      </div>

  </section>
  <section class="copyright">
    <div class="container">
      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
    </div>
  </section>
</body>
</html>
