<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-group-processes">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Group Processes</h1>
    <br>
    <p>Through assessment 2, our team worked together to divide the work or parts of the task with the amount of work each person did so that no one had to do more than the rest of the group. Overall, our team worked well through assessment 2 creating internal deadlines to get the work done in an appropriate amount of time. The first meetings were important to layout the assignment and break it down into its different sections which was helpful in the delegation of work. We took a more laid back approach in the delegation and let members of the team volunteer for sections they are interested in, this proved quite beneficial as it gave the members a chance to choose sections they are more comfortable or knowledgeable in. The team as a whole were impressed with our progress in the first week. We were able to get a majority of content done as we knew the report, website and final edits will take some time.
</p>

<p>In regards to assessment 3, there are many new features that are challenging, so my team members have to be more active. We have improved the way we schedule the dates and times for meetings and help other members when they have a hard time. Unlike assessment 2, this time, we divide the parts and work together one by one, then we will ask for feedback and opinions of other members to improve the idea of ​​the article to the fullest. This is due to the different content that is required in assessment 3. The second assessment involved a substantial amount of independent work and report writings and then met up to compile our findings. There were only a couple of sections where we had more than one member working on it at the same time. Conversely, assessment 3 is orientated around the development of our project idea. It involves more collaboration and communication on every stage of the assignment which means simultaneous report writing can be a struggle.</p>

</div>

<a class="button is-small is-info is-outlined" href="profile.html">
    Back
</a>

</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
