<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-overview">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h2>Topic</h2>
    <br>
  <p>Smartphones have become an essential tool for the modern traveller, with countless apps and tools available to improve the travel experience. With so many options to choose from, a traveller's phone can get cluttered with various apps ranging from trip planning, accommodation, currency converters, and more.
</p>
<p>Initially, only a few features will be rolled out for ease of design and management, such as travel planners, purchasing power budgeting, and geolocation. In this team's project presentation, we will be creating an application to integrate these features into one platform. The app's main attraction is its purchasing power budgeting feature, which will generate a list of trips based on budget set.
</p>
<br>
<h2>Motivation</h2>
<br>
<p>Before the COVID19 pandemic, the Travel and Tourism industry was a massive contributor to the global workforce and GDP. The World Travel & Tourism Council (WTTC) estimates that the industry produces an estimated 10.6% of jobs worldwide and 10.4% of global GDP (WTTC, 2021). Due to COVID19, the industry has declined, with the global GDP contribution reduced to 5.5% and a loss of 62 million jobs (WTTC, 2021). While this indicates a lower market for tourism, we believe that once people can freely travel again, there will be a massive resurgence of tourism worldwide. Currently, with a low amount of people travelling worldwide, we have been allowed to spend time developing a travel app that will be ready in time for the inevitable travel boom. When this happens, people will be looking for travel apps to help with planning and budgeting to best use the money they saved during lockdowns, which our app will provide. </p>
<p>From an economic point of view; a project like this one will be crucial for the impending increase. As mentioned, the travel industry suffered a major loss due to the pandemic and many people lost their jobs. Companies went bust, airlines lost competitors and the industries that had the resources to survive were able to dominate in their own market controlling the prices on their products. With such fluctuations in supply, demand and workforce resulted in unstable economies and constantly changing prices. With our purchasing power app keeping up with real time fluctuations, our users will feel comfortable and confident they are budgeting correctly.</p>
<p>It would be the hope for an employer to see a project like this one and look favourably upon it. I believe it shows forward thinking and an ability to take advantage of potential growth sectors. Understanding the climate and developing a product with the adaptability to survive in such an inconsistent world shows our resilience and motivation towards innovation.
</p>
<br>
<h2>Landscape</h2>
<br>
<p>There are hundreds of travel applications available for Android and iOS, and the number is growing by the day. It is estimated that tourists spend more than 35% of their mobile time planning their next holiday on travel applications. Travel applications are beneficial since they make travel a lot easier. Travel applications account for more than 45 per cent of all travel reservations. Because of the growing popularity of travel applications, there is a greater demand for high-quality apps.</p>
<p>Travelocity, Delta, HomeAway, and Hertz are our rivals (Elliott. C 2015). These applications offer characteristics that set our apps apart and make them more appealing. For example, the Travelocity app for Android users, with limited functionality, encourages customers to vent about their negative experiences via app store ratings and reviews. According to users, Delta's iOS app might crash and show erroneous flight information. Customers using iOS at HomeAway are frequently frustrated by crashing apps, delayed booking confirmations, and pending credit card transactions. Finally, Hertz consumers are dissatisfied with their inability to preserve log-in information on their iPhones and iPads. Furthermore, our program can adapt and offer suggestions regarding users' budgets while travelling. Therefore, I believe our application will be well-received when it hits the market.</p>
</div>


<a class="button is-small is-info is-outlined" href="project.html">
    Back
</a>

</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
