<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css" />
    <link rel="stylesheet" type="text/css" href="../css/selection.css">
  </head>
  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../index.html">
            <img src="../images/logo.jpg" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
          </span>
        </div>
        <div class="brand-name">
          <a href="../index.html" class="logo">Vibing</a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="../index.html">
              Home
            </a>
            <a class="navbar-item" href="profile.html">
              Profile
            </a>
            <a class="navbar-item" href="tools.html">
              Tools
            </a>
            <a class="navbar-item" href="project.html">
              Project
            </a>
            <a class="navbar-item" href="job.html">
              Job
            </a>
            <a class="navbar-item" href="reflection.html">
              Reflection
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
      <div class="hero-body-project">
        <div class="container has-text-centered">
          <h1 class="header-title">Project Description</h1>
        </div>
      </div>
    </section>

  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/overview.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Overview</h1>
                  <p class="post-excerpt">This section includes brief description of our project's topic, motivation and landscape.</p>
                  <br>
                  <a href="overview.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="../images/detail description.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Detailed Description</h1>
                  <p class="post-excerpt">This section includes detailed walkthrough of our project's aim, plan and progress, roles, scope and limits, tools and technologies, testing, timeframe, risk, and lastly group and communications. </p>
                  <br>
                  <a href="description.html" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>

  </section>
  <section class="copyright">
    <div class="container">
      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
    </div>
  </section>
</body>
</html>
