<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-risk">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Risks</h1>
    <br>
<p>App development isn't the most advantageous or intense sport but it definitely has risks involved. The scope of these risks are diverse and cover anything from software to marketing. Firstly, time management and resource allocation can be a big risk. Without a clear development plan or user interface design too much time and resources will be used in the wrong areas. In a real world example, there are projects which are restricted to budgets and timeframes which can prove critical if they are not met. Furthermore, communication between team members, or lack thereof, can pose more risks. Without proper communication channels and a clearly outlined strategy it can result in a clash of design which inturn means time and resources wasted.</p><br>
<p>On a bigger scale, some risks involve marketing and sustainability. The platforms and design we choose should reflect our target audience. As a travel app, we have a large audience to cater for. Ranging from freshly turned adults to retirees. Our design needs to be engaging enough to attract a young audience, yet simplistic for an older demographic to use. As mentioned in a previous section, the world has been affected by a pandemic and the tourism industry has suffered greatly. In today’s climate it is quite the risk developing a travel app when countries can go into lockdowns and economies constantly fluctuating.</p><br>
<p>Of course, another risk to consider and potentially one of the biggest is security. This is an app which holds customers personal information and financial details which means that breaches in data can result in damaging consequences to users. During its development and leading into the distribution of our app, in a real context, it will undergo rigorous risk assessments and penetration testing. A cyber risk assessment is the process of identifying and evaluating risks to assets that could be vulnerable to attack (Ilia, 2018). They assess the 4 four pillars of cybersecurity: confidentiality, integrity, authenticity, and non-repudiation. The risks involved in such a breach are (for both developers and users):</p><br>
<ul>
  <li>Identity theft</li>
  <li>Data loss</li>
  <li>Financial harm</li>
  <li>Legal implications</li>
</ul>
</div>
<a class="button is-small is-info is-outlined" href="description.html">
    Back
</a>


</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
