<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-roles">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Roles</h1>
    <br>
    <p>Specifying roles is crucial for an effective and successful software development cycle. Every team member within an IT project should have a specific, crucial role to play in order to give the best performance possible. Flawless projects do not exist, but with the right team of people “on board”, projects can be completed as close to perfection as possible and going smoothly according to plan.
</p>
<br><br>
<h4>FRONT-END DEVELOPER (Jake)</h4>
<br>
<p>Front-end developers are the point of contact between the delivered business solution (a system undergoing implementation) and the end client (user). Such a person must, on the one hand, be responsible for ensuring the alignment of web design and user experience requirements, optimizing web pages for maximum efficiency, and maintaining brand consistency across all web pages, among other duties. I am much suited for this role by fulfilling the requirements of being an individual with good problem-solving skills, excellent verbal communication skills and interpersonal skills. Other than that, I am able to demonstrate proficiency in HTML, CSS, JavaScript, and jQuery while being experienced with responsive and adaptive design and having great understanding of server-side CSS.</p>
<br><h4>BACK-END DEVELOPER (Anson)</h4><br>
<p>Back-end developers focused mainly on developing business logic and data layers. They specialise in building the software’s server-side functions and commonly work with programming languages like Python, C, PHP, Java and Ruby. Backend Developers work with the elements of software that are crucial to system functioning; its correctness depends on the quality of back-end developer’s work. What’s more, in a case of larger, more complex systems, such developer’s capabilities of building data queries (i.e. SQL) and its optimisation are of enormous value. As a computer science undergraduate myself, I had acquired general skills and knowledge in various programming languages as well as great experiences in the software development cycle through completing multiple assignments in the core subjects. Being a back-end developer alone might be tough but I am ready to face the challenges.</p>
<br><h4>TESTER (Mitch)</h4><br>
<p>Testers fulfil an otherwise necessary role in software development. As a software tester, you'll be involved in the quality assurance stage of software development and deployment. You'll conduct automated and manual tests to ensure the software created by developers is fit for purpose and any bugs or issues are removed within a product before it gets deployed to everyday users. Frankly speaking, I do not have much experience in software testing but am willing to learn and build up the required skills and knowledge along the way.</p>
<br><h4>UI DESIGNER (Vincent)</h4><br>
<p>The primary duty of the UI designer is to prepare, or design, the user interface. This means transferring content, style, graphics connected with a client or product to a system presentation layer. Thanks to prototyping tools, I can prepare a template of the application’s user interface. Later, together with a UX designer and front-end developer, I will work on providing a solution to continue per expectations and requirements.</p>
<br><h4>UX DESIGNER (Dat)</h4><br>
<p>Contrary to the UI designer, it’s a function characterised by a less ‘digital’ approach to a user interface. The UX designer, whereby UX means User Experience, must make sure that end users will have the best possible experience while using an application. Such person-based work not only consists of analysing user behaviour. It also takes into consideration what the competition is doing, and continuously changing human-computer interaction methods. As an International Business course student, I am confident in terms of generating useful business ideas which contribute to app functionality development in later phases. Besides that, I am more likely to have greater understanding about the project features as it originated from my previous project idea.</p>
</div>
<a class="button is-small is-info is-outlined" href="description.html">
    Back
</a>


</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
