<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-tech">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Tools and Technologies</h1>
    <br>
    <div class="table-container">
    <table class="table is-bordered is-striped ">
      <thead>
    <tr>
      <th style="width:22.5%">Tools and Technologies</th>
      <th>Licences</th>
      <th>Hardware needed</th>
      <th>Prior experience</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Proto.io</td>
      <td>15 days free trial and subscription plan is needed to access all features after free trial ended</td>
      <td>Any standard laptop that have a browser</td>
      <td>
<ul>
  <li>Anson has gained half year experience through core subject User Centered Design in Bachelor degree of Computer Science</li>
</ul>
      </td>
    </tr>
    <tr>
      <td>Java 8</td>
      <td>Free for for personal use and development purposes</td>
      <td>Can be installed on Windows, MacOS and Linux with the following hardware:
        <ul>
          <li>RAM : At least 128 MB</li>
          <li>Disk Space : 124 MB for JRE, 2 MB for Java Update</li>
          <li>Processor : Minimum Pentium 2 266 MHz processor</li>
        </ul></td>
      <td><ul>
        <li>Anson has gained some experience through core subjects like Programming Techniques, Further Programming and Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>Intellij Idea</td>
      <td>Apache 2.0 license which means free for personal use and development purposes. Free educational pack for extended version</td>
      <td>Can be installed on Windows, MacOS and Linux with the following hardware:
        ><ul>
          <li>2 GB RAM minimum, 4 GB RAM recommended</li>
          <li>1.5 GB hard disk space + at least 1 GB for caches</li>
          <li>1024×768 minimum screen resolution</li>
        </ul></td>
      <td><ul>
        <li>Anson has gained two years of experience through completing assignments in core subjects like Programming Techniques, Further Programming and Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>Spring Boot 2</td>
      <td>Apache 2.0 license which means free for personal use and development purposes. Free educational pack for extended version</td>
      <td><ul>
        <li>Java 8 or 9</li>
        <li>Spring Framework 5.0.10.RELEASE</li>
      </ul></td>
      <td><ul>
        <li>Anson has gained two years of experience through completing assignments in core subjects like Programming Techniques, Further Programming and Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>Governed by the terms of the General Public License (GPL). This requires that anyone modifying the MySQL code (for anything other than personal / internal use) or building applications based on MySQL code must also make their derived product available under the same open source GPL terms. By licensing MySQL, you are not bound by the GPL and you gain an extended feature set and various levels of support.</td>
      <td>Can be installed on Windows, MacOS, Canonical and Linux with the following hardware:
        <ul>
          <li>64 bit x86 CPU</li>
          <li>4 GB RAM minimum, 8 GB RAM or higher recommended</li>
          <li>1024×768 minimum screen resolution, 1920x1200 or higher recommended</li>
        </ul></td>
      <td><ul>
        <li>Anson has gained two years of experience through completing assignments in core subjects like Programming Techniques, Further Programming，Database Concepts, Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>Maven 3.6.1</td>
      <td>Apache 2.0 license which means free for personal use and development purposes. Free educational pack for extended version</td>
      <td><ul>
        <li>Maven 3.3+ require JDK 1.7 or above to execute - they still allow you to build against 1.3 and other JDK versions</li>
        <li>Approximately 10MB is required for the Maven installation itself. In addition to that, additional disk space will be used for your local Maven repository. The size of your local repository will vary depending on usage but expect at least 500MB.</li>
      </ul></td>
      <td><ul>
        <li>Anson has gained two years of experience through completing assignments in core subjects like Programming Techniques, Further Programming and Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>React Native</td>
      <td>MIT Licensed which allows permit use, redistribution, and redistribution with modification, as well as the provision to retain copyright notice and warranty disclaimer in common. However, the MIT License also explicitly allows merging, publishing, selling, and sublicensing, while the BSD only implies the first three and does not allow the latter.</td>
      <td><ul>
        <li>All Windows 11 devices</li>
        <li>Windows 10 devices with Windows version: 10.0.16299.0 (aka 1709, aka Redstone 3, aka Fall Creators Update) or higher Some features may not work on all versions. See Windows 10 Compatibility for version support details.</li>
      </ul></td>
      <td><ul>
        <li>Anson has gained half year experience through core subject Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>react-router-dom 5.1.2</td>
      <td>None</td>
      <td>Requires npm installation</td>
      <td><ul>
        <li>Anson has gained half year experience through core subject Software Engineering Fundamentals in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>axios 0.19.2</td>
      <td>None</td>
      <td>Requires npm installation</td>
      <td>None</td>
    </tr>
    <tr>
      <td>bootstrap 4.4.1</td>
      <td>MIT Licensed </td>
      <td>Supports the latest, stable releases of all major browsers and platforms. On Windows, they support Internet Explorer 10-11 / Microsoft Edge.</td>
      <td>None</td>
    </tr>
    <tr>
      <td>npm</td>
      <td>Artistic License 2.0 where everyone is permitted to copy and distribute verbatim copies of this license document, but changing it is not allowed</td>
      <td>None</td>
      <td><ul>
        <li>Anson has gained one year experience through core subject like Software Engineering Fundamentals, Software Engineering Process and Tools and Advanced Programming Techniques in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>docker</td>
      <td>Free tier for limited resource access</td>
      <td>Can be installed on Windows, MacOS, Canonical and Linux with the following hardware:
        <ul>
          <li>Memory: 512MB RAM (2GB Recommended)</li>
          <li>Disk: Sufficient amount to run the Docker containers you wish to use</li>
          <li>CPU: Dependant on the applications you wish to run in the containers</li>
        </ul></td>
      <td><ul>
        <li>Anson has gained half year experience through core subject Cloud Computing in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>Kubernetes</td>
      <td>Apache 2.0 license which means free for personal use and development purposes. Free educational pack for extended version</td>
      <td>Available for 64-bit x86 hardware only with:
        <ul>
          <li>4 CPU cores (Intel VT-capable CPU)</li>
          <li>16GB RAM</li>
          <li>1GB Ethernet NIC</li>
          <li>40GB hard disk space in the /var directory</li>
        </ul></td>
      <td><ul>
        <li>Anson has gained half year experience through core subject Cloud Computing in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    <tr>
      <td>Google Kubernetes Engine</td>
      <td>Free tier for limited resource access</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Google cloud</td>
      <td>Free tier for limited resource access</td>
      <td>None</td>
      <td><ul>
        <li>Anson has gained half year experience through core subject Cloud Computing in Bachelor degree of Computer Science</li>
      </ul></td>
    </tr>
    </tbody>
    </table>
    </div>
</div>
<a class="button is-small is-info is-outlined" href="description.html">
    Back
</a>


</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
