<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-timeframe">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <br>
    <div class="reflection">
    <h3>Anson</h3>
    </div>
  <div class="table-container">
  <table class="table is-bordered is-striped ">
    <thead>
  <tr>
    <th>Week</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>8</td>
    <td>Plan and outline the progress of the project to set goals</td>
  </tr>
  <tr>
    <td>9</td>
    <td><ul>
      <li>Research on tools and technologies needed for software development</li>
      <li>Create and setup documents needed for collaboration</li>
    </ul></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Plan and work on the software architecture of our software</td>
  </tr>
  <tr>
    <td>11</td>
    <td><ul>
      <li>Plan and work on testing section</li>
      <li>Compile the tools and technologies section</li>
    </ul></td>
  </tr>
  <tr>
    <td>12</td>
    <td><ul>
      <li>Proceed to help on refining our prototypes
</li>
      <li>Writing report and group website</li>
    </ul></td>
  </tr>
  </tbody>
  </table>
</div><br>
  <div class="reflection">
  <h3>Dat Nguyen</h3>
  </div>
  <div class="table-container">
  <table class="table is-bordered is-striped ">
    <thead>
  <tr>
    <th>Week</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>8</td>
    <td>Research and doing the topic part</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Doing group processes and fill in the career plan</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Research and working on the Aims section</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Working on Project structure, Front-end section</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Doing Group reflection and Timeframe</td>
  </tr>
  </tbody>
  </table>
  </div><br>
  <img src="../images/planner.png"><br><br>
</div>
<a class="button is-small is-info is-outlined" href="description.html">
    Back
</a>


</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
