<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/report.css">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../images/logo.jpg" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div class="brand-name">
        <a href="../index.html" class="logo">Vibing</a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="../index.html">
            Home
          </a>
          <a class="navbar-item" href="profile.html">
            Profile
          </a>
          <a class="navbar-item" href="tools.html">
            Tools
          </a>
          <a class="navbar-item" href="project.html">
            Project
          </a>
          <a class="navbar-item" href="job.html">
            Job
          </a>
          <a class="navbar-item" href="reflection.html">
            Reflection
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body-tools">
    </div>
  </section>

<div class="tab-pane is-active" id="pane-2">
  <div class="content">
    <h1>Tools</h1>
    <br>
    <ul>
      <li>The link to our group’s website:<a href="https://s3767707.github.io/Assignment-3/">https://s3767707.github.io/Assignment-3/</a></li>
      <li>The link to our group’s github repository:<a href="https://github.com/s3767707/Assignment-3 ">https://github.com/s3767707/Assignment-3 </a></li>
  </ul>
  <br>
  <p>It is always important to keep track of our progress to reflect on our past work and suggest improvements in the future. The audit trail of our git repository is the perfect choice to serve this purpose which always acts as a document that records our team progress. In agile software development, projects are built up iteratively which requires continuous contributions of all team members to lead towards successful projects. Therefore, by reviewing the audit trails, we get to know what, who and when an action is performed, we get insights on whether our weekly progress is falling behind, is everyone completing their parts and plan our future software development process. Setting goals and accomplishing them are just the crucial elements for continuous integration practice that ensures an ideal development environment and vibe which encourages us to be more competitive through continuous improvements. </p>
</div>



</div>


                  <section class="copyright">
                    <div class="container">
                      <p>© <span id="year"></span> | Designed and Developed based on <a href="https://github.com/BulmaTemplates/bulma-templates">Bulma CSS template</a>. | All rights reserved.</p>
                    </div>
                  </section>

                </body>
                </html>
